# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules

# Other files and folders
.settings/
api/config

# Executables
*.swf
*.air
*.ipa
*.apk

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

